.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  position: relative;
  min-height: 224px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto;
  position: relative;
  padding-top: 60px;
  margin: 0px 80px 108px 80px;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  align-self: flex-end;
  margin-bottom: 0;
  right: 0;
  bottom: 0;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer__list-item_1 {
  margin-bottom: 16px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.footer__social-link {
  color: #ffffff;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: color 0s linear 2s;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-bottom: 60px;
  margin-left: 80px;
}
