.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__title {
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-top: 202px;
  margin-bottom: 0px;
  position: relative;
  padding-left: 80px;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__description {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 0;
  position: relative;
  padding-left: 80px;
  z-index: 2;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header__footer {
  font-style: normal;
  font-weight: 500;
  color: #838383;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  margin-top: 200px;
  padding: 0 80px;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
